@import './fonts';
@import './modules/vars';

/*=======================================================================================================*/
/*Config*/
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    width:100%;
    height:100%;
}

@mixin toHeigh($prop, $px, $media, $height: 1025) {
	@media(min-height: #{$media}) {
        #{$prop}: calc(100vh - 1070px + (#{$px} / #{$height} * 100%));
    }
}

@mixin pxToper($prop, $px, $width: 1680){
	#{$prop}: calc(#{$px} / #{$width} * 100%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-color: #000000;
    color: $white;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

.container{
    max-width: 1402px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1441px) {
        padding: 0 35px;
    }
    @media screen and (max-width: 769px) {
        padding: 0 40px;
    }
    @media(max-width: 426px) {
        padding: 0 15px;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin: 0;
        padding: 0;
    }
}

a{
    text-decoration: none;
    color: white;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: $modal-black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $grey;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: darken($grey-links, 20%);
  }
/*=======================================================================================================*/

/*=======================================================================================================*/
/*Duplicates*/
.media-img{
    width: 500px;
    @media(max-width: 1025px) {
        width: 400px;
    }
    @media(max-width: 769px) {
        width: 300px;
    }
    @media(max-width: 376px) {
        width: 250px;
    }
}


.purple-btn{
    font-family: 'Sansation';
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $white;
    background-color: transparent;
    border: 3px solid $purple-btn;
    border-radius: 70px;
    cursor: pointer;
    padding: 12px 0;
    transform: scale(1);
    transition: .2s all;
    
    @media(min-width: 768) {
        filter: drop-shadow(0px 0px 15px $purple-btn);

        &:hover{
            filter: drop-shadow(0px 0px 17px $purple-btn);
        }
    }
    @media(max-width: 1441px) {
        font-size: 16px;
        padding: 10px 0;
        letter-spacing: normal;
    }
    @media(max-width: 1025px) {
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: 0.05em;
    }
    @media(max-width: 769px) {
        box-shadow: 0px 0px 3px $purple-btn;
    }
}

.purple-btn:active{
    transform: scale(0.97);
    outline: none;
}

.phone{
    position: fixed;
    display: inline-block;
    right: 40px;
    bottom: 40px;
    z-index: 40;

    @media(max-width: 1441px) {
        right: 30px;
        bottom: 15px;
    }

    @media(max-width: 426px) {
        right: 15px;
    }
}

.phone-fix{
    display: inline-block;
    background: $green-gradient;
    box-shadow: 0px 0px 8px #0BDA51;
    border-radius: 50%;
    padding: 10px;
    line-height: 100%;
    transition: .2s all;


    img{
        width: 40px;
        height: 40;
        vertical-align: middle;
        @media(max-width: 769px) {
            width: 30px;
        }
    }

    @media(min-width: 769px) {
        &:hover{
            box-shadow: 0px 0px 15px 2px #0BDA51;
        }
    }
}
/*=======================================================================================================*/


/*=======================================================================================================*/
/*Imports*/
@import './parts/header';
@import './parts/main';
@import './parts/idea';
@import './parts/modals';
@import './parts/portfolio';
@import './parts/booking';
@import './parts/footer';
/*=======================================================================================================*/