/*=======================================================================================================*/
/*Main*/
.header{
    height: 102px;
    position: relative;
    margin-top: 40px;
    z-index: 5;

    @media(max-width: 1441px) {
        padding-right: 35px;
        padding-left: 35px;
    }

    @media(max-width: 1025px) {
        height: 90px;
        padding-right: 25px;
        padding-left: 25px;
    }
    @media(max-width: 769px) {
        margin-top: 15px;
    }
}
/*=======================================================================================================*/


/*=======================================================================================================*/
/*Navigation*/
.menu{

    .menu__list{
        display: flex;
        position: relative;
        .empty{
            width: 236px;
        }

        .menu__logo{
            position: absolute;          
            left: 50%;
            transform: translateX(-50%);

            img{
                @media(max-width: 1025px) {
                    padding-top: 10px;
                    width: 200px;
                }
                @media(max-width: 376px) {
                    width: 150px;
                }
            }
        }

        .menu__wrapper{
            width: 100%;
            height: 102px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .4s all;

            .menu__list-item{
                display: flex;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    background: $white;
                    box-shadow: 0px 0px 2px #FAF0E6;
                    transition: .2s all;
                }
                &:hover{
                    .menu__list-link{
                        color: $white;
                        bottom: 5px;
                        text-shadow: 0px 0px 2px #C1BFC3;
                    }
                    &::after{
                        width: 100%;
                    }
                }

                .menu__list-link{
                    position: relative;
                    font-family: 'Sansation';
                    font-size: 22px;
                    font-weight: 400;
                    color: $grey;
                    bottom: 0;
                    transition: .2s all;

                    @media(max-width: 1025px) {
                        font-size: 18px;
                    }
                    @media(max-width: 769px) {
                        font-size: 26px;
                        color: $white;
                    }
                }

            }

            @media(max-width: 769px) {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                right: -200%;
                background: rgba(0, 0, 0, 0.7);
                backdrop-filter: blur(6px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;
                overflow-y: auto;

                .menu__list-item{
                    display: block;
                    text-align: center;

                    a{
                        width: 100%;
                        padding: 20px 0;
                        display: inline-block;
                    }
                }
            }
        }

        .menu__wrapper.open{
            right: 0;
        }
    }
}
/*=======================================================================================================*/


/*=======================================================================================================*/
/*Mobile Menu*/
.burger{
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: fixed;
    top: 70px;
    right: 30px;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;

    @media(max-width: 769px) {
        display: block;
    }

    @media(max-width: 426px) {
        right: 0;
    }
    @media(max-width: 376px) {
        top: 55px;
    }
}

.burger-line{
    width: 35px;
    height: 3px;
    background: $grey;
    position: absolute;
    transition: .3s all;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;

    &::after,
    &::before{
        content: "";
        position: absolute;
        height: 3px;
        transition: .3s all;
        border-radius: 4px;
    }

    &::after{
        top: -8px;
        background: $grey;
        width: 35px;
    }

    &::before{
        top: 8px;
        background: $grey;
        width: 35px;
    }

}

.burger.active{
    .burger-line {
        width: 35px;
        transform: translateX(-50%);
        background-color: transparent;

        &::after{
            transform: rotate(-45deg) translate(8px, 17px);
        }
    
        &::before{
            transform: rotate(45deg) translate(5px, -20px);
        }
        
    }
}

/*=======================================================================================================*/
