/*=======================================================================================================*/
/*Main*/
.top{
    position: relative;
    margin-top: -132px;
    padding-top: 120px;
    min-height: 100vh;
    @media(max-height: 1200px) {
        @include toHeigh(padding-top, 70, 1000px);
    }

}

.purple-circle{
    position: absolute;
    top: 250px;
    height: 0px;
    width: 120px;
    box-shadow: $purple-element;
    right: -100px;

    @media(max-width: 769px) {
       top: 50%;
       transform: translateY(-50%);
    }
}
/*=======================================================================================================*/


/*=======================================================================================================*/
/*Content*/
.main__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    .main__info{
        max-width: 686px;

        .main__info-title{
            font-family: 'Days-One';
            color: $white;
            font-size: 36px;
            text-shadow: 0px 0px 2px #000000;
            padding-bottom: 52px;

            span{
                color: $purple;
                text-shadow: 0px 0px 2px #AC3E94;
            }

            @media(max-width: 1441px) {
                font-size: 30px;
            }
            @media(max-width: 1025px) {
                padding-bottom: 15px;
            }
            @media(max-width: 376px) {
                font-size: 24px;
            }
        }

        .main__info-subtitle{
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            color: $grey-light;
            font-size: 22px;
            line-height: 26px;
            padding-bottom: 35px;

            .main__info-paragraph{
                &:nth-child(1) {
                    padding-bottom: 36px;

                    @media(max-width: 1025px) {
                        padding-bottom: 10px;
                    }
                }
                &:nth-child(2) {
                    padding-bottom: 26px;

                    @media(max-width: 1025px) {
                        padding-bottom: 0px;
                    }
                }
            }

            @media(max-width: 1441px) {
                font-size: 18px;
            }
            @media(max-width: 1025px) {
                font-size: 14px;
            }
            @media(max-width: 376px) {
                font-size: 12px;
            }
        }

        .main__info-buttons{
            display: flex;
            justify-content: space-between;
            border-radius: 70px;

            .main__info-btn{
                outline: none;

                &:nth-child(1) {
                    padding-left: 35px;
                    padding-right: 35px;
                    transition: .2s all;

                    @media screen and (min-width: 768) {
                        &:hover{
                            background-color: $purple-btn;
                            filter: drop-shadow(0px 0px 8px $purple-btn);
                        }
                    }
                    @media(max-width: 1441px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
                &:nth-child(2) {
                    padding-left: 65px;
                    padding-right: 65px;
                    background-color: $purple-btn;

                    @media screen and (min-width: 768) {
                        &:hover{
                            background-color: transparent;
                            filter: drop-shadow(0px 0px 8px $purple-btn);
                        }
                    }
                    @media(max-width: 1441px) {
                        padding-left: 55px;
                        padding-right: 55px;
                    }
                }
            }

            @media(max-width: 1025px) {
                flex-direction: column;
                max-width: 320px;
                margin: 0 auto;

                .main__info-btn {
                    &:nth-child(1){
                    margin-bottom: 20px;
                    }
                }
            }
        }

        @media(max-width: 1441px) {
            padding-right: 20px;
            max-width: 586px;
        }

        @media screen and (max-width: 1025px) {
            max-width: 700px;
            padding: 70px 0 10px 0;
        }

        @media screen and (max-width: 769px) {
            padding: 0;
            max-width: 586px;
            text-align: center;
        }
        @media(max-width: 376px) {
            text-align: left;
        }

        
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    .main__image {

        img{
            box-shadow: 0px 0px 16px 8px #28052F;
            transition: .2s all;
            &:hover{
                box-shadow: 0px 0px 16px 18px #28052F;
            }
        }

        @media screen and (max-width: 769px) {
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 1025px) {
        margin-top: 150px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 100px;
    }
}
/*=======================================================================================================*/


/*=======================================================================================================*/
/*Arrow*/
.main__arrow{
    position: relative;
    text-align: center;
    margin-top: 120px;
    bottom: 50px;
    transition: .2s all;
    &:hover{
        bottom: 40px;
    }
    &:active{
        img{
            transform: scale(0.97);
        }
    }

}
/*=======================================================================================================*/
