/*=======================================================================================================*/
/*Main*/
.modals{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    display: none;

    @media(max-height: 500px) {
        overflow-y: scroll;
    }
}

.modals.active{
    display: block;
    animation: opacityPopup .4s linear forwards;
}
/*=======================================================================================================*/

/*=======================================================================================================*/
/*Form*/
.modal__form{
    width: 450px;
    min-height: 500px;
    background-color: $modal-black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    opacity: 0;
    transition: 2s all;
    display: none;

    @media(max-width: 769px) {
        min-height: 400px;
        width: 380px;
    }

    @media(max-width: 400px) {
        min-height: 300px;
        width: 250px;
    }

    @media(max-height: 500px) {
        top: 80%;
    }
    

    .modal__top{
        display: flex;
        justify-content: space-between;
        padding: 0px 27px;
        height: 60px;
        align-items: center;

        @media(max-width: 400px) {
            padding: 0 10px;
        }

        .modal__top-title{
            color: $green;
            font-family: 'Sansation';
            font-size: 24px;
            text-transform: uppercase;
            @media(max-width: 769px) {
                font-size: 20px;
            }
        }

        .modal__top-close{
            width: 30px;
            height: 30px;
            position: relative;
            top: -3px;
            background-color: transparent;
            cursor: pointer;
            border: none;

            div{
                position: absolute;
                left: -2px;
                width: 30px;
                height: 2px;
                background: $white;
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .form-btn{
        font-family: 'Sansation';
        font-size: 24px;
        letter-spacing: 0.05em;
        color: $green;
        width: 314px;
        padding: 16px 5px;
        background-color: transparent;
        border: 3px solid #0BDA51;
        transition: .2s all;
        cursor: pointer;

        @media(max-width: 769px) {
            font-size: 20px;
        }

        @media(max-width: 400px) {
            width: 200px;
            padding: 12px 5px;
            font-size: 14px;
        }

        &:hover{
            background-color: $green;
            color: $white;
        }
        &:active,
        &:focus{
            transform: scale(0.97);
        }
    }

    .form__btn-group{
        text-align: center;
        padding: 40px 10px;

        @media(max-width: 769px) {
            padding: 20px 10px;
        }

        @media(max-width: 400px) {
            padding: 10px 5px;
        }

        @media(min-height: 769px) {
            margin-top: 20px;
        }
    }

    .select-group{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        select{
            width: 100%;
            -webkit-appearance: none;
            height: 30px;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 20px;
            padding: 0;
            font-family: 'Sansation';
            color: $grey;
            opacity: 1;
            font-weight: 300;
            cursor: pointer;
            border-bottom: 2px solid $grey;
            
            &:focus{
                border-width: 3px;
                border-color: $green;
            }

            @media(max-width: 769px) {
                font-size: 20px;
            }
            @media(max-width: 400px) {
                font-size: 18px;
            }

            option{
                background-color: $modal-black;
                color: rgba(225, 244, 243, 0.5);
            }
        }

    }

    @media(max-height: 770px) {
        .form__btn-group{
            padding: 20px 10px;

            .form-btn{
                width: 250px;
                font-size: 18px;
                padding: 10px 5px;
            }
        }

    }

    @media(max-width: 426px) {
        .form__btn-group{
            padding: 20px 10px;

            .form-btn{
                width: 180px;
                font-size: 18px;
                padding: 10px 5px;
            }
        }

    }
}

.modal__form.active{
    display: block;
    animation: opacityPopup .4s linear forwards;
}

@keyframes opacityPopup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*=======================================================================================================*/

/*=======================================================================================================*/
/*Inputs*/


.input-wrapper{
    height: 70px;
    position: relative;
    width: 395px;
    margin: 0 auto;

    @media(max-width: 769px) {
        width: 320px;
    }

    @media(max-width: 400px) {
        width: 230px;
    }

    @media(max-width: 769px) {
        height: 50px;
    }

    @media(max-height: 770px) {
        height: 60px;
    }

    @media(max-height: 650px) {
        height: 50px;
    }

    @media(max-height: 570px) {
        height: 40px;
    }

    @media(min-height: 769px) {
        height: 70px;
    }

    .form-error{
        position: absolute;
        bottom: 0px;
        left: 0;
        font-family:'Sansation';
        font-weight: 300;
        font-size: 10px;
        color: rgb(235, 86, 86);
        display: none;

        @media(max-height: 770px) {
            bottom: 10px;
        }

        @media(max-height: 650px) {
            bottom: 5px;
        }

        @media(max-height: 570px) {
            bottom: -1px;
            font-size: 9px;
        }

        @media(min-height: 769px) {
            bottom: 10px;
        }
    }
}


.text-wrapper{
    margin-top: 10px;
    height: 160px;
    .form-error{
        top: 62px;
    }
}

.textarea{
    margin-top: 20px;
    padding-right: 5px;
    font-family: 'Sansation';
    width: 100%;
    max-height: 120px;
    font-weight: 300;
    border: none;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: transparent;
    color: $white;
    font-size: 16px;
    padding: 5px 0;
    resize: none;
    border-bottom: 2px solid $grey;
    transition: border-color 0.2s;

    @media(max-width: 400px) {
        height: 34px;
        font-size: 16px;
    }

}

textarea:focus{
    ~ .label-name{
        position: absolute;
        top: 7px;
        display: block;
        transition: .2s all; 
        font-size: 14px;
        color: $green;
        @media(max-width: 400px) {
           top: 0px;
           font-size: 14px;
        }
    }
    border-width: 3px;
    border-color: $green;
}

.text-group.none{
    textarea{
            ~ .label-name{
                position: absolute;
                top: 7px;
                display: block;
                transition: .2s all;
                font-size: 14px;
                color: $grey;
                @media(max-width: 400px) {
                    top: 0px;
                    font-size: 14px;
                }
            }
            border-width: 3px;
            border-color: $grey;
        }
}


.form__group{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;

    .modal-input{
        font-family: 'Sansation';
        width: 100%;
        font-size: 20px;
        border: none;
        border-bottom: 2px solid $grey;
        outline: 0;
        color: $white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        
        @media(max-height: 770px ) {
            font-size: 18px;
            padding: 5px 0;
        }

        @media(max-height: 650px) {
            font-size: 14px;
        }
        
    }

    .label-name{
        font-family: 'Sansation';
        font-weight: 300;
        position: absolute;
        bottom: 5px;
        display: block;
        transition: .2s;
        font-size: 20px;
        color: $grey;
        pointer-events: none;
        @media(max-height: 570px) {
            font-size: 14px;
        }
    }

    .modal-input:focus{
        ~ .label-name{
            position: absolute;
            bottom: 35px;
            display: block;
            transition: .2s;
            font-size: 14px;
            color: $green;
            @media(max-height: 650px) {
                bottom: 22px;
            }
        }
        border-width: 3px;
        border-color: $green;
    }

    .modal-input:valid{
        ~ .label-name{
            position: absolute;
            bottom: 35px;
            display: block;
            transition: .2s;
            font-size: 14px;
            color: $grey;
            @media(max-height: 650px) {
                bottom: 22px;
            }
        }
        border-width: 3px;
        border-color: $grey;
    }

    @media(max-height: 770px ) {
        padding: 0;
    }
}

.text-group{
    position: relative;
    .label-name{
        border: none;   
        color: $grey;
        transition: .2s all;
    }
}

.input-wrapper._error{

    .form__group {
        .label__content{
            color: rgb(235, 86, 86);
        }
    }

    input,
    input:focus{
        border-color: rgb(235, 86, 86);
    }
}


.form__group{
    @media(min-height: 770px) {
        padding: 0;
    }
}
/*=======================================================================================================*/