@font-face {
    font-family: 'Sansation';
    src: local('Sansation Light'),
        url('../../fonts/sansationlight.woff2') format('woff2'),
        url('../../fonts/sansationlight.woff') format('woff'),
        url('../../fonts/sansationlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Regular'),
        url('../../fonts/sansationregular.woff2') format('woff2'),
        url('../../fonts/sansationregular.woff') format('woff'),
        url('../../fonts/sansationregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../../fonts/Roboto.woff2') format('woff2'),
        url('../../fonts/Roboto.woff') format('woff'),
        url('../../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Days-One';
    src: local('Days-One'), local('Days-One-Regular'),
        url('../../fonts/Days-One.woff') format('woff'),
        url('../../fonts/Days-One.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Klaxon';
    src: local('Klaxon'), local('Klaxon-Regular'),
        url('../../fonts/Klaxon.woff') format('woff'),
        url('../../fonts/Klaxon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neon One';
    src: local('Neon One'), local('Neon-One-Regular'),
        url('../../fonts/NeonOneRegular.woff2') format('woff2'),
        url('../../fonts/NeonOneRegular.woff') format('woff'),
        url('../../fonts/NeonOneRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
