/*-------------------------------------------------------------------------------------------*/
/*Colors*/
$white: #FAF0E6;
$grey: #C1BFC3;
$black: #1F1F1F;
$purple: #E761CA;
$grey-light: #DDDCDB;
$purple-btn: #AC3E94;
$green: #0BDA51;
$green-dark: #009231;
$orange: #DA870B;
$blue: #4A47A3;
$grey-links: #9A9A9A;
$modal-black: #1C1C1C;

/*-------------------------------------------------------------------------------------------*/
/*Shadows*/
$purple-shadow:  0px 0px 15px #AC3E94;
$green-shadow: 0px 0px 12px #0BDA51;
$violet-shadow: 0px 0px 8px #3B1CFF;
$yellow-shadow: 0px 0px 8px #DA870B;
$pink-shadow: 0px 0px 8px #DA0B6E;
$green-shadow-text: 0px 0px 6px #0BDA51;

/*-------------------------------------------------------------------------------------------*/
/*Gradients*/
$green-gradient: linear-gradient(45deg, #2C613E 0%, #0BDA51 100%);
$violet-gradient: linear-gradient(45deg, #562C61 0%, #410BDA 100%);
$yellow-gradient: linear-gradient(45deg, #612F2C 0%, #DA870B 100%);
$pink-gradient: linear-gradient(45deg, #612C4F 0%, #DA0B6E 100%);
$samphire-gradient: linear-gradient(45deg, #4A47A3 0%, #3B1CFF 50.52%, #3283E2 100%);

/*-------------------------------------------------------------------------------------------*/
/*Psevdo-Elements*/
$purple-element: 0px 0px 250px 100px #571455;
$green-element: 0px 0px 250px 100px #0BDA51;
$blue-element: 0px 0px 250px 100px #5E09E4;
$red-element: 0px 0px 250px 100px #DC143C;
$pink-element:  0px 0px 250px 100px #E761CA;
/*-------------------------------------------------------------------------------------------*/